.background {
  height: 100%;
  outline: none;
  position: relative !important;
  transform: none !important;
}

.background .list {
  margin: 0;
  padding: 20px;
}

.background .listItem {
  align-items: center;
  color: #000000;
  display: flex;
  padding: 5px;
}
